{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Clínica</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <link href="{% static 'images/favicon.png' %}" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">
    

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/custom.js' %}"></script>

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    
    <!-- Bootstrap Core JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <!-- Functionality -->
    <script src="{% static 'js/functionality.js' %}"></script> 
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.min.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->    
</head>
<body class="site-background">
    <div class="appointment-box opening-hours signup-box">
        <h2 class="d-flex align-items-center">Cadastre-se</h2>

        <form id="signup-form" class="d-flex flex-wrap justify-content-between" method="post" autocomplete="off">
            {% csrf_token %}
            <input type="hidden" id="username" name="username">
            <input type="text" id="first_name" name="first_name" placeholder="Nome" required>
            <input type="text" id="last_name" name="last_name" placeholder="Sobrenome" required>
            <input type="text" id="cpf" name="cpf" placeholder="CPF" required>
            <input type="text" id="telefone" name="telefone" placeholder="Telefone" required>
            <input type="email" id="email" name="email" placeholder="E-mail">
            <div class="select-box">
                <label>Gênero:</label>
                <select id="sexo" name="sexo" required>
                    <option class="select-format">Masculino</option>
                    <option class="select-format">Feminino</option>
                </select>
            </div>
            <input class="date-field" type="text" id="data_nascimento" name="data_nascimento" placeholder="Data de Nascimento" onfocus="(this.type='date')" required>
            <input class="input-box" type="password" id="password1" name="password1" placeholder="Senha" required>
            <input class="input-box" type="password" id="password2" name="password2" placeholder="Confirmar" required>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <button id="signup-btn" type="submit" class="button gradient-bg" data-toggle="modal" data-target="#signup-modal">Cadastrar</button>
        </form>
    </div>

    <!-- Modal HTML -->
    {% if not form.errors %}
        {% if messages %}
            <div class="modal fade" id="signup-modal">
                <div class="modal-dialog modal-dialog-centered modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="icon-box">
                                <i class="material-icons">&#xE876;</i>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body text-center">
                            <h4>Parabéns!</h4> 
                            {% for m in messages %}
                                <button type="button" class="close" data-dismiss="alert"></button>
                            {% endfor %}
                            <p>Sua Conta foi criada com sucesso.</p>
                            <button class="btn btn-success"><span><a href="{% url 'login' %}"><strong>Fazer Login</strong></a></span> <i class="material-icons">&#xE5C8;</i></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <!-- Modal -->
    <script src="{% static 'js/modal.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Datetimepicker JS -->
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    
</body>
</html>