asgiref==3.2.10
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
cssselect2==0.3.0
defusedxml==0.6.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.7
django-background-tasks==1.2.5
django-compat==1.0.15
django-stdimage==5.1.1
gunicorn==20.0.4
html5lib==1.1
Pillow==8.1.1
progressbar2==3.51.1
psycopg2-binary==2.8.5
pycparser==2.20
Pyphen==0.9.5
python-utils==2.4.0
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
static3==0.7.0
tinycss2==1.0.2
WeasyPrint==51
webencodings==0.5.1
