{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="single-page">
    <header class="site-header">
        <!-- .nav-bar -->
        {% include 'navigation.html' %}
        <!-- end .nav-bar -->

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Contato</h1>

                    <div class="breadcrumbs">
                        <ul class="d-flex flex-wrap align-items-center p-0 m-0">
                            <li><a href="#">Home</a></li>
                            <li>Contato</li>
                        </ul>
                    </div><!-- .breadcrumbs -->

                </div>
            </div>
        </div>

        <img class="header-img" src="{% static 'images/contact-bg.png' %}" alt="">
    </header><!-- .site-header -->

    <div class="contact-page-short-boxes">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="contact-info h-100">
                        <h2 class="d-flex align-items-center">Contato</h2>

                        <ul class="p-0 m-0">
                            <li><span>End.:</span>{{ configuracoes_site.endereco }}</li>
                            <li><span>Telefone:</span>{{ configuracoes_site.telefone }}</li>
                            <li><span>Email:</span>{{ configuracoes_site.email }}</li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-4 mt-5 mt-lg-0">
                    <div class="opening-hours h-100">
                        <h2 class="d-flex align-items-center">Funcionamento</h2>

                        <ul class="p-0 m-0">
                            <li><strong>Todos os dias</strong></li>
                            {% for h in horarios %}
                                <li>{{ h.horario }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-4 mt-5 mt-lg-0">
                    <div class="emergency-box h-100">
                        <h2 class="d-flex align-items-center">Emergência</h2>

                        <div class="call-btn text-center">
                        <a class="d-flex justify-content-center align-items-center button gradient-bg" href="#"><img src="{% static 'images/emergency-call.png' %}"> {{ configuracoes_site.telefone }}</a>
                        </div>

                        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Donec males uada lorem maximus mauris sceler isque, at rutrum nulla.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Entrar em Contato</h2>
                </div>

                <div class="col-12  col-md-4">
                    <input type="text" placeholder="Nome">
                </div><!-- col-4 -->

                <div class="col-12 col-md-4">
                    <input type="email" placeholder="E-mail">
                </div><!-- col-6 -->

                <div class="col-12 col-md-4">
                    <input type="text" placeholder="Assunto">
                </div>

                <div class="col-12">
                    <textarea name="name" rows="12" cols="80" placeholder="Mensagem"></textarea>
                </div>

                <div class="col-12">
                    <input type="submit" name="" value="Enviar Mensagem" class="button gradient-bg">
                </div>
            </div><!-- row -->
        </div>
    </div><!-- contact-form -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-page-map">
                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=university of san francisco&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div><!-- map -->
            </div>
        </div>
    </div>

    {% include 'subscribe.html' %}

    <!-- .site-footer -->
    {% include 'footer.html' %}
    <!-- end .site-footer -->

{% endblock %}
