{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Homepage Boxes -->
    	{% include 'boxes.html' %}
    <!-- Homepage boxes end -->

    <!-- Departments -->
    	{% include 'departments.html' %}
    <!-- Departments End -->

    <!-- Testimonial -->
    	{% include 'testimonial.html' %}
    <!-- Testimonial End -->

    <!-- The News -->
    	{% include 'thenews.html' %}
    <!-- The News End -->
    
    <!-- Subscribe Banner -->
    	{% include 'subscribe.html' %}
    <!-- Subscribe Banner End -->
    
    <!-- Footer -->
    	{% include 'footer.html' %}
    <!-- Footer -->
    
{% endblock %}
