<!-- MedArt -->
    <script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.collapsible.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/swiper.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/circle-progress.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.countTo.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/custom.js' %}"></script>
    
    <!-- Bootstrap Core JS -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <!-- Datetimepicker JS -->
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    
    <!-- Sticky Sidebar JS -->
    <script src="{% static 'plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
    
    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>

    