{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
{% include 'header.html' %}
<body class="single-page blog-page">
    <header class="site-header">
        <!-- .site-navigation -->
            {% include 'navigation.html' %}
        <!-- .site-navigation -->

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Notícias</h1>

                    <div class="breadcrumbs">
                        <ul class="d-flex flex-wrap align-items-center p-0 m-0">
                            <li><a href="#">Início</a></li>
                            <li>Notícias</li>
                        </ul>
                    </div><!-- .breadcrumbs -->
                </div>
            </div>
        </div>

        <img class="header-img" src="{% static 'images/news-bg.png' %}" alt="">
    </header><!-- .site-header -->

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="the-news">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="the-news-wrap">
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="{% static 'images/news-1.png' %}" alt=""></a>
                                </figure>

                                <header class="entry-header">
                                    <h3>Mais recente</h3>

                                    <div class="post-metas d-flex flex-wrap align-items-center">
                                        <div class="posted-date"><label>Data: </label><a href="#">12 de Abril de 2018</a></div>

                                        <div class="posted-by"><label>Por: </label><a href="#">Dr. Jake Williams</a></div>

                                        <div class="post-comments"><a href="#">2 Comentários</a></div>
                                    </div>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </p>
                                </div>

                                <footer class="entry-footer mt-5">
                                    <a class="button gradient-bg" href="#">Leia Mais</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="the-news-wrap">
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="{% static 'images/news-2.png' %}" alt=""></a>
                                </figure>

                                <header class="entry-header">
                                    <h3>Tudo o que você precisa saber sobre pílulas</h3>

                                    <div class="post-metas d-flex flex-wrap align-items-center">
                                        <div class="posted-date"><label>Data: </label><a href="#">12 de Abril de 2018</a></div>

                                        <div class="posted-by"><label>Por: </label><a href="#">Dr. Jake Williams</a></div>

                                        <div class="post-comments"><a href="#">2 Comentários</a></div>
                                    </div>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </p>
                                </div>

                                <footer class="entry-footer mt-5">
                                    <a class="button gradient-bg" href="#">Leia Mais</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="the-news-wrap">
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="{% static 'images/news-6.png' %}" alt=""></a>
                                </figure>

                                <header class="entry-header">
                                    <h3>Mercado e Medicina</h3>

                                    <div class="post-metas d-flex flex-wrap align-items-center">
                                        <div class="posted-date"><label>Data: </label><a href="#">12 de Abril de 2018</a></div>

                                        <div class="posted-by"><label>Por: </label><a href="#">Dr. Jake Williams</a></div>

                                        <div class="post-comments"><a href="#">2 Comentários</a></div>
                                    </div>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </p>
                                </div>

                                <footer class="entry-footer mt-5">
                                    <a class="button gradient-bg" href="#">Leia Mais</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="the-news-wrap">
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="{% static 'images/news-4.png' %}" alt=""></a>
                                </figure>

                                <header class="entry-header">
                                    <h3>Mercado e Medicina</h3>

                                    <div class="post-metas d-flex flex-wrap align-items-center">
                                        <div class="posted-date"><label>Data: </label><a href="#">12 de Abril de 2018</a></div>

                                        <div class="posted-by"><label>Por: </label><a href="#">Dr. Jake Williams</a></div>

                                        <div class="post-comments"><a href="#">2 Comentários</a></div>
                                    </div>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </p>
                                </div>

                                <footer class="entry-footer mt-5">
                                    <a class="button gradient-bg" href="#">Leia Mais</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="the-news-wrap">
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="{% static 'images/news-5.png' %}" alt=""></a>
                                </figure>

                                <header class="entry-header">
                                    <h3>Mercado e Medicina</h3>

                                    <div class="post-metas d-flex flex-wrap align-items-center">
                                        <div class="posted-date"><label>Data: </label><a href="#">12 de Abril de 2018</a></div>

                                        <div class="posted-by"><label>Por: </label><a href="#">Dr. Jake Williams</a></div>

                                        <div class="post-comments"><a href="#">2 Comentários</a></div>
                                    </div>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </p>
                                </div>

                                <footer class="entry-footer mt-5">
                                    <a class="button gradient-bg" href="#">Leia Mais</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="the-news-wrap">
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="{% static 'images/news-3.png' %}" alt=""></a>
                                </figure>

                                <header class="entry-header">
                                    <h3>Mercado e Medicina</h3>

                                    <div class="post-metas d-flex flex-wrap align-items-center">
                                        <div class="posted-date"><label>Data: </label><a href="#">12 de Abril de 2018</a></div>

                                        <div class="posted-by"><label>Por: </label><a href="#">Dr. Jake Williams</a></div>

                                        <div class="post-comments"><a href="#">2 Comentários</a></div>
                                    </div>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </p>
                                </div>

                                <footer class="entry-footer mt-5">
                                    <a class="button gradient-bg" href="#">Leia Mais</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12">
                            <ul class="pagination d-flex flex-wrap align-items-center p-0">
                                <li class="active"><a href="#">01</a></li>
                                <li><a href="#">02</a></li>
                                <li><a href="#">03</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="sidebar">
                    <div class="search-widget">
                        <form class="flex flex-wrap align-items-center">
                            <input type="search" placeholder="Busca...">
                            <button type="submit" class="flex justify-content-center align-items-center">Buscar</button>
                        </form><!-- .flex -->
                    </div><!-- .search-widget -->

                    <div class="sidebar-cats">
                        <h2 class="widget-title">Especialidades</h2>

                        <ul class="p-0 m-0">
                            <li><a href="#">Radiologia</a></li>
                            <li><a href="#">Cardiologia</a></li>
                            <li><a href="#">Gastroenterologia</a></li>
                            <li><a href="#">Neurologia</a></li>
                            <li><a href="#">Cirurgia Geral</a></li>
                        </ul>
                    </div>

                    <div class="popular-posts">
                        <h2 class="widget-title">Últimas Postagens</h2>

                        <ul class="p-0 m-0">
                            <li class="d-flex flex-wrap justify-content-between">
                                <figure><a href="#"><img src="{% static 'images/p-1.jpg' %}" alt=""></a></figure>

                                <div class="entry-content">
                                    <h3 class="entry-title"><a href="#">Uma grande descoberta para a medicina em todo o mundo</a></h3>

                                    <div class="posted-date">05 de fevereiro de 2018</div>
                                </div>
                            </li>

                            <li class="d-flex flex-wrap justify-content-between">
                                <figure><a href="#"><img src="{% static 'images/p-2.jpg' %}" alt=""></a></figure>

                                <div class="entry-content">
                                    <h3 class="entry-title"><a href="#">Serviços odontológicos para menores de 18 anos</a></h3>

                                    <div class="posted-date">05 de fevereiro de 2018</div>
                                </div>
                            </li>

                            <li class="d-flex flex-wrap justify-content-between">
                                <figure><a href="#"><img src="{% static 'images/p-3.jpg' %}" alt=""></a></figure>

                                <div class="entry-content">
                                    <h3 class="entry-title"><a href="#">Qual o tempo certo para tomar pílulas</a></h3>

                                    <div class="posted-date">05 de fevereiro de 2018</div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- .cat-links -->

                    <div class="opening-hours">
                        <h2 class="d-flex align-items-center">Funcionamento</h2>

                        <ul class="p-0 m-0">
                            <li>Segunda - Quinta <span>8.00 - 19.00</span></li>
                            <li>Sexta <span>8.00 - 18.30</span></li>
                            <li>Sábado <span>9.30 - 17.00</span></li>
                            <li>Domingo <span>9.30 - 15.00</span></li>
                        </ul>
                    </div>

                    <div class="emergency-box">
                        <h2 class="d-flex align-items-center">Emergência</h2>

                        <div class="call-btn text-center">
                            <a class="d-flex justify-content-center align-items-center button gradient-bg" href="#"><img src="{% static 'images/emergency-call.png' %}"> +34 586 778 8892</a>
                        </div>

                        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Donec males uada lorem maximus mauris sceler isque, at rutrum nulla.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'subscribe.html' %}

    {% include 'footer.html' %}
</body>
</html>