{% load static %}
<div class="subscribe-banner" style="background: url('{% static 'images/subscribe-bg.png' %}') no-repeat center;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <h2>Inscreva-se em nossa newsletter</h2>

                    <form>
                        <input type="email" placeholder="Endereço de e-mail">
                        <input class="button gradient-bg" type="submit" value="Inscrever-se">
                    </form>
                </div>
            </div>
        </div>
    </div>