{% extends '../base.html' %}
{% load static %}
{% block content %}
    <div class="col-md-7 col-lg-8 col-xl-9">
                        <div class="card">
                            <div class="card-body pt-0">
                            
                                <h3>Notificações</h3>
                                
                                <!-- Tab Content -->
                                <div class="">
                                    
                                    <!-- Prescription Tab -->
                                    <div class="tab-pane fade show active" id="">
                                        <div class="card card-table mb-0">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <tr>
                                                            <td>14 de Novembro de 2019</td>
                                                            <td class="text-right">
                                                                <div class="table-action">
                                                                    <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                        <i class="fas fa-print"></i> Confirmar
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>  
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Prescription Tab -->
                                    
                                </div>
                                <!-- Tab Content -->
                                
                            </div>
                        </div>
                    </div>
{% endblock %}