<!-- <h1>Built-In Login Logout</h1> -->
{% load static %}
{% include 'header.html' %}
<body class="site-background">
	<div class="container">
	    <div class="row">
	        <div class="appointment-box opening-hours signup-box">
				<h2 class="d-flex align-items-center">Mudar Senha</h2>
				<form class="d-flex flex-wrap justify-content-between" method="post" autocomplete="off">
				    <input type="email" for="email" id="email" name="email" placeholder="E-mail" required>
				    <button type="submit" class="button gradient-bg">Mudar</button>
				</form>
			</div>
		</div>
	</div>
</body>
