{% load i18n %}{% autoescape off %}
{% blocktrans %}Olá, Você está recebendo esse email porque você solicitou uma alteração de senha para sua conta de usuário em {{ site_name }}.{% endblocktrans %}

{% trans "Por favor, click no link abaixo para redefinir sua senha:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Seu nome de usuário, caso tenha esquecido:" %} {{ user.get_username }}

{% trans "Obrigado por usar nosso site!" %}

{% blocktrans %}O time {{ site_name }} {% endblocktrans %}

{% endautoescape %}